<?xml version="1.0" encoding="utf-8" ?>
<routes>
    <!-- <route url="/url_of_page.html" module="Module" action="action" /> -->
    <!-- <route url="/url_of_page-(.+)-([0-9]+)\.html" module="Module" action="action" vars="slug,id" /> -->
    <route url="/" module="Accueil" action="index" />
    <route url="/hello" module="Helloworld" action="index" />
    <route url="/helloget/([0-9]+)/([0-9]+)" module="Helloworld" action="hello" vars="id,test2" />
    <route url="/local/([A-Za-z_]+)/" module="Lang" action="change" vars="local" />
</routes>
