<?xml version="1.0" encoding="utf-8" ?>
<definitions>
    <!-- DEBUG -->
    <define var="debug" value="false" />

    <!-- SQL PDO -->
    <define var="host" value="localhost" />
    <define var="db_name" value="database" />
    <define var="username" value="root" />
    <define var="password" value="" />
</definitions>
